In [2]:
my_list_2=[2,9,0,5,"cat"] #get range what we want
print(my_list_2[1:3])

[9, 0]

In [11]:
print(my_list_2[:2])#we not using 0 index with getting range

[2, 9]

In [10]:
print(my_list_2[2:])

[0, 5, 'cat']

In [13]:
my_list=[1,10,10,"cat",8,True]
my_list[2:4]=["Dog","19.0"]
print(my_list)

[1, 10, 'Dog', '19.0', 8, True]

In [18]:
#adding new value in list we
my_list_3 =[1,10,10,"cat",8,True]
my_list_3.insert(2,"Rabbit")
print(my_list_3)

[1, 10, 'Rabbit', 10, 'cat', 8, True]

In [20]:
#adding new value in list end 
my_list_4=[1,2,5,6]
my_list_4.append("Car")
print(my_list_4)

[1, 2, 5, 6, 'Car']

In [4]:
#merge 2 lists
my_list_4=[1,2,5,6]
new_list=["Bus","van","Cycle"]
my_list_4.extend(new_list)
print(my_list_4,"length is ",len(my_list_4))

[1, 2, 5, 6, 'Bus', 'van', 'Cycle'] length is  7

In [7]:
#remove elements specific position
my_list_4=[1,2,5,6]
my_list_4.pop(1)
print(my_list_4,"length is ",len(my_list_4))

[1, 5, 6] length is  3

In [10]:
 # Deletes the element at index 2
my_list = [1, 2, 3, 4]
del my_list[2] 
print(my_list)
#we can destory the list
#del my_list

[1, 2, 4]

In [11]:
my_list =[1, 2, 3, 4]#clear the values not list
my_list.clear()
print(len(my_list))

0

In [21]:
my_list=["dog","apple","parrot","banana"]#sorting list case sensitive (uppercase) 
my_list.sort()#accending order
#my_list.sort(key=str.lower) use this dont care the case sensitive
#my_list.sort(reverse=True)#decending sort
print(my_list)

['apple', 'banana', 'dog', 'parrot']

In [ ]:
my_list_1 =[-10,-18,12,5,7,12,-3]
my_list_2 =[8,4,-3,9,2,11]

my_list_1.extend(my_list_2)
my_list_1.sort()
print(my_list_1)

s =int(len(my_list_1)/2)
print(s)

print("median is",my_list_1[s])

q1 =int(s/2)
print(q1)
print("q1 is",my_list_1[q1])

q3=q1+s
print("q3 is",my_list_1[q3])

[-18, -10, -3, -3, 2, 4, 5, 7, 8, 9, 11, 12, 12]
6
median is 5
3
q1 is -3
q3 is 9

In [ ]:
name = input("Enter Your Name :")#input
print(f"hello {name}");#f used formatted strings &# embed variables directly in strings using {} {name}

hello k

In [8]:
age = input("Enter your age: ")      # This will be a string
age = int(age)                        # Convert to an integer
print(f"You are {age} years old.")

You are 45 years old.

In [17]:
#multiple inputs in one line
num1 ,num2 = input("Enter Numbers :".split())
num1= int(num1)
num2 =int(num2)
print(f"the sum is {num1 + num2}")

the sum is 16

In [21]:
age =int(input("Enter ur age ;"))
if age>=18:
    print("you are an adult")
elif age< 18 and age>13:
    print("you are teenger")
else :
    print("ur nothing")

you are teenger

In [24]:
day = input("Enter day :")
match day:
    case "Monday":
        print("Start of the work week!")
    case "Friday":
        print("Almost weekend!")
    case _:
        print("Another weekday")

Another weekday

In [30]:
count = 1
while count <= 10:
 print(count)
 count += 1

1
2
3
4
5
6
7
8
9
10

In [ ]:
names = ["Tk","Ks","An"]
for name in names:
    print(f"Hello, {name}!")

Hello, Tk! Tk
Hello, Ks! Ks
Hello, An! An

In [37]:
for i in range(1,10):
 if i == 5:
  break
 print(i)

1
2
3
4

In [38]:
for i in range(1,10):
 if i == 5:
  continue
 print(i)

1
2
3
4
6
7
8
9

In [41]:
num =int(input("enter ur number"))
if num % 2 == 0:
    print("It is Even Number")
else:
    print("It is Odd Number")

It is Even Number

In [47]:
#calculator
num1 = int(input("Enter first number :"))
operation = input("Enter operation (+, -, *, /):")
num2 = int(input("Enter Seconed number :"))

if operation == "+":
    print("value is :",num1 + num2)
elif operation == "-":
    print("value is :",num1 -num2)
elif operation == "/":
    print("valeu is :",num1/num2)
elif operation == "*":
    print("vale is :",num1*num2)
else:
    print("invalid operation")

value is : 2

In [52]:
numbers = [3, 1, 4, 1, 5]
print(len(numbers))

5

In [ ]:
#Day 02 lectures

In [58]:
my_list =[20,13,"Dog",70,80]
my_list_2 = my_list
print(my_list_2)
my_list [1]= "Cat"

#this is not valid cause not create new list ,replace current list so we can use copy()
print(my_list_2.copy())

[20, 13, 'Dog', 70, 80]
[20, 'Cat', 'Dog', 70, 80]

In [ ]:
my_list =[20,13,"Dog",70,80]
my_list_2 =list(my_list)#constructure
print(my_list_2)
my_list[1] =["Cat"]
print (my_list)

[20, 13, 'Dog', 70, 80]
[20, ['Cat'], 'Dog', 70, 80]

In [ ]:
my_list_4 = [1,2,3,4]
my_list_5 = [1,2,3,4]
my_list_6 = my_list_4 + my_list_5 #we can extend like this (merge)
print(my_list_6)
print(len(my_list_6))

[1, 2, 3, 4, 1, 2, 3, 4]
8

In [ ]:
my_tuple_1 = (12,"Cat",250) #tuple (act like final cause can change values)
print(len(my_tuple_1))
print(type(my_tuple_1))

3
<class 'tuple'>

In [ ]:
my_list_1 =("cat",)#carefully the add a","
print(type(my_list_1))

<class 'tuple'>

In [ ]:
my_tuple_1 =("cat","Tharu",1)#
my_tuple_1[1]= 6
print(type(my_tuple_1))

TypeError: 'tuple' object does not support item assignment

In [ ]:
my_tuple_1 = ("dog","cat",10) #we have workaround solution 
my_list_1 =list(my_tuple_1)#1st we convert tuple in list using list constarustor
my_list_1[1]="Rat"#added  list to value
my_tuple_1 = tuple(my_list_1)#and convert it to tuple using tuple construtor
print(my_tuple_1,type(my_tuple_1))

('dog', 'Rat', 10) <class 'tuple'>

In [105]:
my_tuple_5 = (10,8,20,5)
my_tuple_6 =(5,9,-1)

my_list_8 = list(my_tuple_1)
my_list_8.pop(2)
print(my_list_8)
new_list = list(my_tuple_6 + my_tuple_5)
new_list.sort()


my_tuple_7 =tuple(new_list)
print(new_list)

[10, 8, 5]
[-1, 5, 5, 8, 9, 10, 20]

In [ ]:
my_tuple_10 =((1,2,3),("Dog","Cat"),(True,False))
print(my_tuple_10[0][2])
print(my_tuple_10[1][1])

3
Cat

In [133]:
numbers =range(2,15,3)
print(numbers[2])
print(numbers,type(numbers))

8
range(2, 15, 3) <class 'range'>

In [ ]:
#we used dictionary store key,values pair 
dict_1={
    "name":"Suguer",
    "Price":250.45,
    "weight":"1 kg"
     }
print(dict_1,type(dict_1))
print("length is :", len(dict_1))
print("weight is :",dict_1["weight"])

{'name': 'Suguer', 'Price': 250.45, 'weight': '1 kg'} <class 'dict'>
length is : 3
weight is : 1 kg

In [149]:
my_dict2 ={
    "name":"Tharu",
    "age":25,
    "married":False,
    "my_list_11":[1,2,"kusal"],
    "tuple_list_11":(2,"Ashi"),
    "dict":{
        "color":"pink",
        "shape":"round",
    }
}
print("we can store multiple data types in dictonary ","this dict length is :",len(my_dict2))

we can store multiple data types in dictonary  this dict length is : 6

In [ ]:
#modify values 
dict_3={
    "name":"Sugar",
    "Price":250.45,
    "weight":"1 kg"
     }
dict_3["Price"] = 400
print(dict_3)

{'name': 'Suguer', 'Price': 300, 'weight': '1 kg'}

In [162]:
#inbuild method
dict_3.update({
               "weight":"2 kg",
               "Price":300.0
               })
#add anoter item
dict_3["color"] = "White"
print(dict_3,len(dict_3))

{'name': 'Suguer', 'weight': '2 kg', 'Price': 300.0, 'color': 'White'} 4

In [163]:
#remove item
dict_3.pop("weight")
print(dict_3)

{'name': 'Suguer', 'Price': 300.0, 'color': 'White'}

In [159]:
#remove last item
dict_3.popitem()
print(dict_3)

{'name': 'Suguer', 'Price': 300.0}

In [164]:
del dict_3["Price"]
print(dict_3)

{'name': 'Suguer', 'color': 'White'}

In [167]:
dict_3.clear()
print(len(dict_3))

0

In [168]:
dict_3 = {
    "name":"Tharu"
}
del dict_3
print(len(dict_3))

NameError: name 'dict_3' is not defined

In [ ]:
dict_4={
    "name":"Ricee",
    "Price":250.45,
    "weight":"1 kg"
     }

dict_5={
    "name":"Milk",
    "Price":25,
    "weight":"1 l"
     }
dict_6={
    "name":"Milky",
    "Price":25786,
    "weight":"1 l"
     }



dict_4 = dict(dict_5)
print(dict_4)

dict_5 = dict_6.copy()
print(dict_5)

{'name': 'Milk', 'Price': 25, 'weight': '1 l'}
{'name': 'Milky', 'Price': 25786, 'weight': '1 l'}

In [199]:
num = 10
num -=10
print(num)

0

In [201]:
x=5
print(x!=5)
print(x==6)

False
False

In [ ]:
numm =input("Enter number :")
print(num)

10

In [ ]:
numbers = int(input("Enter first number :"))
numbers %7 == 0

True

In [223]:
y =10
t =2
print(y>1 and t>10)
print(y>1 or t>10)
print(not t >10)

False
True
True

In [ ]:
num= int(input("Enter number"))
print(num % 2 == 1) and (num<100 and num>0)

True

In [259]:
x = 1000**10
y = 1000**10
print(x is y)

False

In [262]:
numbs = [10,20,30,10]
print(1 not in numbs)

True

In [263]:
num1 = 10
num2 = 3
num3 = num1 & num2
print(num3)

2

In [ ]:
n =12
if n % 2 == 0:
    print("Number is an Even")
else:
    print("Number is an Odd")

Number is Even

In [ ]:
a =10
if a<0:
    print("thsi is a nagative number")
elif a>0:
    print("this is a positive number")
else:
    print("value is 0")

this is a positive number

In [281]:
subject =int(input("Enter ur subject ;"))
if subject >= 85 and subject <= 100 :
    print("You Have  A+ Grade")
elif subject <= 75:
    print("You Have B ")
elif subject <= 65:
    print("You have C")
elif subject <= 55:
 print("You have D")
else :
    print("You have F")

You Have B

In [292]:
a = 10
b =100
c=100

if a == b == c:
    print("All 3 numbers are equal")
elif a > b and a > c:
    print("a is bigger")
elif b > a and b > c:
    print("b is bigger")
elif c > a and c > b:
    print("c is bigger")
elif a == b and a > c:
    print("a and b are equally the largest")
elif a == c and a > b:
    print("a and c are equally the largest")
elif b == c and b > a:
    print("b and c are equally the largest")
else:
    print("no single largerst number")

b and c are equally the largest

In [ ]:
x =10
result = "Even" if x % 2 == 0 else "Odd" # Ternary Operator
print(result)

Even

In [8]:
x =int(input("enter ur number"))
# x = "ok" if x % 3 == 0 and x % 2 == 0 else "not oky"
x = "ok" if x % 6 == 0 else "not oky"
print(x)

ok

In [12]:
#switch case
response_code = int(input("Enter value :"))
match response_code :
    case 200 :
        print("ok")
    case 201 :
        print("created")
    case 404 :
        print ("not okay")
    case 500 :
        print("Internal server error")
    case _:
        print("nothing")

ok

In [ ]:
x = int(input("Enter value :"))
match x :
    case 0 :
        print("Zero")
    case -1 :
        print ("negative")
    case  1 :
        print ("positive ")
    case _ if x > 1 :
        print("postive greater than one")
    case _ if -1 > x :
        print("negative number less than negative one")
    case _:
           print("not match")

postiviev greater than one

In [35]:
number = [4,5]
match number :
    case [a ,b]:
      print(a*b)
    case [x,y,z]:
      print(x+y+z)
    case _:
      print("nothing")

20

In [38]:
x =[1,3]
match x:
    case []:
        print("Empty list")
    case [a]:
        print("list has single elments")
    case [a,b]:
         print("list has 2 elements")
    case _:
        print("thsi is somthing else")

list has 2 elements

In [39]:
# for loop
fruits = ["apple","Orange"]
for item in fruits:
    print(item)

apple
Orange

In [ ]:
my_list = [2,5,8]
empty_list =[]
for num in my_list:
    empty_list.append(num ** 2)
    print(empty_list)

[4]
[4, 25]
[4, 25, 64]

In [23]:
[y ** 2 for y in my_list]

[4, 25, 64]

In [27]:

[ a ** 2 for a in range(1,11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [36]:

[ a for a in range(1,10) if a % 2 == 0]

[2, 4, 6, 8]

In [35]:
[ b for b in range(2,10,2)]

[2, 4, 6, 8]

In [38]:
m = 5 
i = 0
while i < m:
    print(i,end = " ")
    i = i + 1
print ("End")

0 1 2 3 4 End

In [ ]:
x =int(input("enter ur number"))
y =2
while y < x:
    if y == 10:
        break
    else:
        print(y)
        y += 2

2
4
6
8

In [ ]:
total = 0

while True:
    num =int(input("enter ur number"))
    if num == 0:
        break
    else:
        total += num
        
print("Total is " ,num + total)

10

In [70]:
my_list = [3,8,15,10,9,7,14]
for item in my_list:
    if item % 2 == 0:
        continue
    else:
        print(item)

3
15
9
7

In [ ]:
my_list = [3,8,15]#unpacking
x,y,z = my_list
print(x,y,z)
x += 5
print(x,y,z)

3 8 15
8 8 15

In [ ]:
my_tuple = (1,2,3)
x,y,z = my_tuple
print(x,y,z)

1 2 3

In [83]:
person = {
    "name":"Tharu",
    "age":20,
    "gender":"male"
}
for key,value in person.items(): #dictionary unpacking 
    print(key,value)
for key in person:
    print(key)
for value in person.values():
    print(value)

name Tharu
age 20
gender male
name
age
gender
Tharu
20
male

In [84]:
dict_1 = {
    "name":"Tharu",   
}
dict_2 = {
    "name":"kusal",
}
print(dict_1 | dict_2)

{'name': 'kusal'}

In [92]:
dict_3 = {
    "name":"Tharu",
    "age":20 ,   
    "gender":"female"
}
print(dict_3.get("address","not found"))
print(dict_3.get("age"))

not found
20

In [ ]:
def add(num1,num2):
    return num1 + num2
print(add(2,3))#positional arguments

5

In [97]:
PI = 3.14
def area_of_circle(radius):
    return PI * radius ** 2
print(area_of_circle(5))

78.5

In [ ]:
my_list = [1,2,3,5,6,7,8]
def avarage(my_list):
    return sum(my_list)/len(my_list)
print(avarage(my_list))

4.571428571428571

In [101]:
my_list = [10,2,5,8,9,11,13]
print(my_list[1:5:1])
print(my_list[1:5:3])
print(my_list[::2])

[2, 5, 8, 9]
[2, 9]
[10, 5, 9, 13]

In [ ]:
def add_number(a,b=5):#default argument
    return a + b+c
print(add_number(2,3))
print(add_number(2))

5
7

In [ ]:
def add_number(a,b,c=5):
    return a + b + c
print(add_number(a = 2,b = 3,c = 4))#keyword argument

In [108]:
def calculate_total_cost(item_price,quantity,discount=0,tax=0):
    total_cost = item_price * quantity
    discount = total_cost * discount / 100
    if discount > 0:
        total_cost -= discount
    if tax > 0:
        tax = total_cost * tax / 100
        total_cost += tax
    return total_cost
print(calculate_total_cost(100,5,discount=10,tax=10))

495.0

In [7]:
#Arbitary postional arguments
def sum_of_numbers(*nums):
    total =0
    for num in nums:
        total += num
    return total
sum_of_numbers(5,10,15,20,8)

58

In [2]:
def arbitary_positional_arguments(*args):
    print(args,type(args))
arbitary_positional_arguments(1,2,3,4,5,6,7,8,9,10,11,12,13,14,15)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15) <class 'tuple'>

In [ ]:
def check_number(*args):
    for num in args:
        if num % 2 == 0:
            print(num)
check_number(1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20)

2
4
6
8
10
12
14
16
18
20

In [21]:
def summerize_grades(name,*grades):
    print(name)
    #if not in grades:
    if(len(grades)==0):
        print("No grades found")
        return
    print("Grades : ",grades)
    print("Average : ",sum(grades)/len(grades))
    print("Highest : ",max(grades))
    print("Lowest : ",min(grades))
summerize_grades("Kusal",1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20)
summerize_grades("Tharu")

Kusal
Grades :  (1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20)
Average :  10.5
Highest :  20
Lowest :  1
Tharu
No grades found

In [22]:
#Arbitary keyword arguments
def arbitary_keyword_arguments(**kwargs):
    print(kwargs,type(kwargs))
arbitary_keyword_arguments(name="Tharu",age=20,gender="male")

{'name': 'Tharu', 'age': 20, 'gender': 'male'} <class 'dict'>

In [31]:
def sum_of_numbers(**kwargs):
    total =0
    for key,value in kwargs.items():
        total += value
        print(key,value)
    return total
sum_of_numbers(num1=5,num2=10,num3=1)

num1 5
num2 10
num3 1

16

In [32]:
def check_number(**kwargs):
    for key,value in kwargs.items():
        if value % 2 == 0:
            print(key,value)
check_number(num1=1,num2=2,num3=3,num4=4,num5=5,num6=6,num7=7,num8=8,num9=9,num10=10)

num2 2
num4 4
num6 6
num8 8
num10 10

In [36]:
def subjects(name,**subjects):
    print(name)
    for key,value in subjects.items():
        print(key,value)
        print("\n")
        print("Average : ",sum(subjects.values())/len(subjects))
        print("Highest : ",max(subjects.values()))
        print("Lowest : ",min(subjects.values()))

subjects("Tharu",English=80,Maths=90,Science=100)

Tharu
English 80


Average :  90.0
Highest :  100
Lowest :  80
Maths 90


Average :  90.0
Highest :  100
Lowest :  80
Science 100


Average :  90.0
Highest :  100
Lowest :  80

In [ ]:
#write a python function employee_info that accept a required 'name' and arbitary number of keyword  argumnet representing aditonallly details about the employees
#the function should print the employee name iterate through the keyword arguments and print the each key value pair in the format <key> : <value>
#return a dictinary with all the employees details

def employee_info(name,**info):
   if not info:
        print("No details found")
        return
   
   for key,value in info.items():
        print(f"key : {key} value : {value}")

#    dict_1 = {
#     "name":name,
#     **info
#     }
#    return dict_1
   return{"name":name,**info}
employee_info("Kamal",address="Kandy",age=20,gender="male")

key : address value : Kandy
key : age value : 20
key : gender value : male

{'name': 'Kamal', 'address': 'Kandy', 'age': 20, 'gender': 'male'}

In [68]:
#python building functions
#advantages of functions
#code reusability
#modularity
#readability
#maintainability
#Map function
#why we use map function
#syntax
#map(function_name,iterable)
#map(function_name,iterable,iterable)

def square(num):
    return num ** 2
my_list = [1,2,3,4,5,6,7,8,9,10]
squared_list = map(square,my_list)
print(squared_list,type(squared_list))
squared_list = list(map(square,my_list))
print(squared_list,type)

<map object at 0x108695270> <class 'map'>
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100] <class 'type'>

In [76]:
my_list = [50,2,3,4,5,6,7,8,9,45]
coresponding_list = [10,20,30,40,50,60,70,80,90,100]
sum_list = map(sum,my_list,coresponding_list)
print(list(sum_list))

[60, 22, 33, 44, 55, 66, 77, 88, 99, 145]

In [80]:
#you have a list og intergers represting temperature in celcius 
#temparature = [28,30,25,40,50]
# write a temerature in fahrenheit
# use the formula , fahrenheit = (celcius * 9/5) + 32 

def celcius_to_fahrenheit(celcius):
    fahrenheit = (celcius * 9/5) + 32
    return fahrenheit
temparature = [28,30,25,40,50]
fahrenheit = map(celcius_to_fahrenheit,temparature) 
print(list(fahrenheit))

[82.4, 86.0, 77.0, 104.0, 122.0]

In [93]:
#filter function
#syntax
#filter(function_name,iterable)
#can pass only one iterable and function only can return a boolean

def is_even(num):
    return num % 2 == 0

my_list = [1,2,3,4,5,6,7,8,9,10]
even_list = filter(is_even,my_list)
print(type(even_list))
print(list(even_list))
print(list(filter(is_even,[14,62,3,4,5,6,7,8,9,10])))

<class 'filter'>
[2, 4, 6, 8, 10]
[14, 62, 4, 6, 8, 10]

In [103]:
#python Lambda function / anyonymous function
#syntax
#lambda arguments : expression
#example
#lambda x : x+5
#lambda x,y : x+y
#lambda x,y,z : x+y+z
#lambda *args : sum(args)
#lambda **kwargs : sum(kwargs.values())
#lambda *args, **kwargs : sum(kwargs.values())
#add = lambda x,y,z : x+y+z
#print(add(2,3,8))
result =(lambda x,y,z: x+y+z)(2,3,8)
print(result)

13

In [ ]:
#write a programe :
#1.take a list of tuples, where each tuple contains a name (string) and an age (integer).
#2.use a lambda function to filter up a tuples where the age is less  than 18.
#3.print the list of tuples after filtering 

human =[("Tharu",20),( "Kusal", 25),("Sameera",30),("Ashi",15)]

print(list(filter(lambda x: x[1] > 18, human)))

[('Tharu', 20), ('Kusal', 25), ('Sameera', 30)]

In [ ]:
def myfunc(n):
  return lambda a : a * n

mydoubler = myfunc(20)

print(mydoubler(10))

-10

In [115]:
#write lambda function retunt maximum value

find_max = lambda a,b: a if a > b else b
find_max(100,280)

280

In [125]:
#find factorial number not using recursion

def find_factorial(n):
    if n == 0:
        return 1
    fact = 1
    for i in range(1,n+1):
        fact = fact * i
    return fact 

print(find_factorial(0))

1

In [ ]:
#recursion Error can be occur in recursion so we have to use base case ,maximum deepth of recursion is 1000
def factorial(n):
    if n == 0 or n ==1:#casue 0! = 1
        return 1
    return n * factorial(n-1)#n! = n * (n-1)! 
print(factorial(2))

2

In [ ]:
#calculate the sum of all the elements in an arry or list

def sum_list(my_list):
    if len(my_list) == 0:
        return 0
    return my_list[0] + sum_list(my_list[1:])

print(sum_list([1,2,3,4,5,6,7,8,9,10]))

In [1]:
def recursive_sum(my_list):
    if not my_list:
        return 0
    return my_list[0] + recursive_sum(my_list[1:])
print(recursive_sum([1,2,3,4,5,6,7,8,9,10]))

55

In [ ]:
#modules in python